/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
  --sans: 'Josefin Sans', sans-serif;
  --sky: #3f89a8;
  --navy: #18323b;
  --frost: #F3FDFD;
  --slate: #28292C;
}

html,
body {
  background-color: var(--frost);
  color: var(--slate);
  font-family: var(--sans);
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.nav {
  background-color: var(--navy);
  color: var(--frost);
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.nav_logo {
  grid-column: 1 / 4;
}

.nav_logo_image {
  width: 100%;
  max-width: 150px;
}

.nav_session_portal {
  align-items: center;
  grid-column: 4 / -1;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.nav_session_portal a {
  color: var(--frost);
  text-decoration: none;
}

.flash_notices {
  display: grid;
  grid-template-column: 1fr;
  text-align: center;
}

.link {
  align-items: none;
  background-color: transparent;
  border: 0;
  color: var(--frost);
  cursor: pointer;
  font-family: var(--sans);
  font-size: 1rem;
  padding: 0;
  text-align: left;
}
